
{%- set source_engine = salt['pillar.get']('artifactory:server:source:engine') %}

{%- load_yaml as base_defaults %}
{%- if source_engine == 'git' %}
Debian:
  pkgs:
  - python-psycopg2
  dir:
    base: /srv/artifactory/venv
    home: /var/lib/artifactory
    workspace: /srv/artifactory/workspace
RedHat:
  pkgs:
  - python-psycopg2
  dir:
    base: /srv/artifactory/venv
    home: /var/lib/artifactory
    workspace: /srv/artifactory/workspace
{%- else %}
Debian:
  pkgs:
  - artifactory
  dir:
    base: /usr/lib/artifactory
{%- endif %}
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('artifactory:server')) %}