
{%- set source_edition = salt['pillar.get']('artifactory:server:edition') %}

{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - jfrog-artifactory-{{ source_edition }}
RedHat:
  pkgs:
  - jfrog-artifactory-{{ source_edition }}
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('artifactory:server')) %}